{% extends 'pages/index.html' %}

{% block title%}Codedee - About us{% endblock %}

{% block main-nav-content %}
  <div class="main-nav-container">
    <div class="about-us-session">
      <h2 class="about-us-content big-message-main-page">Meet Our Team</h2>
        <div class="about-us-card">
            <div class="row">
              <div class="col s12 m5">
                <div class="card small">
                  <div class="card-image">
                    <img src="https://i.imgur.com/IhoO2Mu.jpeg">
                  </div>
                  <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                  </div>
                  <div class="card-action">
                    <a href="#">This is a link</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="about-us-session">  
        <div class="about-us-card">
          <div class="row">
            <div class="col s4"></div>
            <div class="col s8 m5">
              <h2 class="header big-message-main-page right-align">Our Mission</h2>
              <div class="card small horizontal">
                <div class="card-stacked">
                  <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                  </div>
                  <div class="card-action">
                    <a href="#">This is a link</a>
                  </div>
                </div>
                <div class="card-image">
                  <img src="https://i.imgur.com/IhoO2Mu.jpeg">
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="about-us-session">
        <h2 class="about-us-content big-message-main-page">Contact</h2>
        <div class="about-us-card">
            <div class="row">
              <div class="col s12 m5">
                <div class="card small">
                  <div class="card-image">
                    <img src="https://i.imgur.com/IhoO2Mu.jpeg">
                  </div>
                  <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                  </div>
                  <div class="card-action">
                    <a href="#">This is a link</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
