{% extends 'pages/index.html' %}

{% block title%}Codedee - About us{% endblock %}

{% block main-container-content %}
  <div class="main-content">
    <div class="main-nav-container">
      <div class="about-us-session">
        <h3 class="about-us-content big-message-main-page">Meet Our Team</h3>
          <div class="OurTeam-Message">
            We're just a group formed in Web Application Coding Class. Our project is about making a coding platform so here it is :D.
          </div>
          <div class="about-us-card">
              <div class="row">
                <div class="col s12 m5">
                  <div class="card small">
                    <div class="card-image image-author">
                      <img src="https://i.imgur.com/fBgjza7.png"> <!-- khi thinh-->
                    </div>
                    <div class="card-content">
                      <p>I'm Thinh, I love running xD.</p>
                    </div>
                    <div class="card-action">
                      <a href="https://facebook.com/neverbenobodybutmyself" target="_blank" style="color:#2196F3;">My Social Media</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="about-us-session">  
          <div class="about-us-card">
            <div class="row">
              <div class="col s5"></div>
              <div class="col s7 m6">
                {% comment %} <h3 class="header big-message-main-page right-align">Our Mission</h3> {% endcomment %}
                <div class="card small horizontal">
                  <div class="card-stacked">
                    <div class="card-content">
                      <p>I'm Tien. I ain't making web, web makes me.</p>
                    </div>
                    <div class="card-action">
                      <a href="https://mtiennnnn.vercel.app" target="_blank" style="color:#2196F3;">My Blog</a>
                    </div>
                  </div>
                  <div class="card-image">
                    <img src="https://i.imgur.com/0HdIQCs.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="about-us-session">
          {% comment %} <h3 class="about-us-content big-message-main-page">Contact</h3> {% endcomment %}
          <div class="about-us-card">
              <div class="row">
                <div class="col s12 m5">
                  <div class="card small">
                    <div class="card-image">
                      <img src="https://i.imgur.com/swLQEON.png"> <!-- khi tai-->
                    </div>
                    <div class="card-content">
                      <p>My name's Tai, I don't know bro.</p>
                    </div>
                    <div class="card-action">
                      <a href="https://www.youtube.com/watch?v=s2b_agblMh0" target="_blank" style="color:#2196F3;">Good Music</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
    </div>
  </div>
  <div class="side-content">
    {% include 'pages/ranking_table.html' %}
  </div> 
  
{% endblock main-container-content%}
