<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
    <link type="text/css" rel="stylesheet" href="{% static './css/materialize.css' %}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
    <title>{% block title %}{% endblock  %}</title>
</head>
<body>

  <div class="main-container">

      {% block navbar%}
        {% include 'pages/navbar.html'%}
      {% endblock navbar%}

      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      
    <div class="mainpage-container"> 
      {% block main-container-content %}{% endblock %}
    </div>
  </div>
        
  <script type="text/javascript" src="{% static './js/materialize.js' %}"></script>
</body>
</html>
