{% extends 'pages/index.html' %}

{% block title%}Codedee - Profile{% endblock %}

{% block main-container-content %}
{% load static %}
    <div class="row">
        <div class="col s4">

            {% include 'pages/user_profile.html' %}

        </div>
        <div class="col s8">

            <div class="profile_page">

                <div class="profile_header">
                    <p class="big-message-main-page">Your progress on Codedee</p>
                </div>

                <div class="divider">
                    <hr class"solid"></hr>
                </div>
                
                <div class="profile_body">

                    <div class="profile_card">

                        <div class="card">
                             <div class="card-content white-text">
                               <span class="card-title">Total Point</span>
                               <p class="card-text">{{ user.points }}</p>
                             </div>
                        </div>
             
                        <div class="card">
                            <div class="card-content white-text">
                              <span class="card-title">Problems solved</span>
                              <p class="card-text">
                                {% for solved_prob in user.solved_chall.all %}
                                    <a style="color:black;" href="{% url 'problem' solved_prob.id %}">{{ solved_prob.problemName }}</a><br>
                                {% endfor %}
                              </p>
                            </div>
                       </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
{% endblock %}
