    
            <table class="centered ranking-table">
                <thead style="color:white;">
                  <tr>
                      <th colspan="3">Top Rated</th>
                  </tr>
                </thead>

                <tbody>
                  <tr style="font-weight:bold;">
                    <td>#</td>
                    <td>User</td>
                    <td>Rating</td>
                  </tr>
                  {% for users in users %}
                    {% if forloop.counter <= 5 %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td><a href="{% url 'profile' users.username %}">{{users.username}}</a></td>
                    <td>{{users.points}}</td>
                  </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
