{% extends 'pages/index.html' %}

{% block title%}Codedee - Ranking{% endblock %}

{% block main-container-content %}
    <div class="main-content">
        <h3 class="big-message-main-page">Rating</h3>
        <div class="main-nav-container">
            <table class="ranking-table ranking-full">
                <thead style="color:white;">
                <tr>
                    <th colspan="3">Top Rated User Of All Time</th>
                </tr>
                </thead>

                <tbody>
                <tr style="font-weight:bold;">
                    <td>#</td>
                    <td>User</td>
                    <td>Rating</td>
                </tr>
                {% for users in users %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{users.username}}</td>
                    <td>{{users.points}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="side-content">
        {% include 'pages/ranking_table.html' %}
    </div>
{% endblock %}
