{% extends 'pages/index.html' %}

{% block title%}Codedee - Ranking{% endblock %}

{% block main-container-content %}
    <div class="main-content">
        <h3 class="big-message-main-page">Rating</h3>
        <div class="main-nav-container">
            <table class="ranking-table ranking-full">
                <thead style="color:white;">
                <tr>
                    <th colspan="3">Top Rated User Of All Time</th>
                </tr>
                </thead>

                <tbody>
                <tr style="font-weight:bold;">
                    <td>#</td>
                    <td>User</td>
                    <td>Rating</td>
                </tr>
                {% for users in page_obj %}
                <tr>
                    <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                    <td><a href="{% url 'profile' users.username %}">{{users.username}}</a></td>
                    <td>{{users.points}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination" style="text-align: center; margin-top: 50px;">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div><br><br><br>
        </div>
    </div>
    <div class="side-content">
        {% include 'pages/ranking_table.html' %}
    </div>
{% endblock %}
