    
            <table class="centered ranking-table">
                <thead style="color:white;">
                  <tr>
                      <th colspan="3">Top Rated</th>
                  </tr>
                </thead>

                <tbody>
                  <tr style="font-weight:bold;">
                    <td>#</td>
                    <td>User</td>
                    <td>Rating</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>manhtyn</td>
                    <td>3001</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>khjthjnk</td>
                    <td>2891</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>tank</td>
                    <td>900</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>giongnef</td>
                    <td>400</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>nguyentyle</td>
                    <td>200</td>
                  </tr>
                </tbody>
              </table>
