<style>
    /* tui chưa bik chỗ import file css nên để internal tạm ở đây nhaa */
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    {% comment %} .reg-log-background {
        background-color: #2196f3;
    }

    .images {
        text-align: center;
    }

    .images img {
        width: 600px;
    }

    .content {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        text-align: center;
        font-family: monospace;
    }

    .content > * {
        margin: .6rem 0;
    }

    .content .icons {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .content .icons > * {
        width: 50px;
    }

    .content .icons .more {
        width: fit-content;
        font-size: 14px;
        font-weight: bold;
    } {% endcomment %}
    
</style>
<div class="reg-log-background">
    <!-- lam ở đây nè tịn  -->
    <!-- okela -->
    <div class="images">
        <img src="../../static/images/learning-images.svg" alt="">
    </div>
    <div class="content">
        <h4>Codedee is free for all people, everywhere</h4>
        <p>Level up your programming skills with <strong> <= 10 exercises across 69 languages</strong>, and insightful discussion with our dedicated team of welcoming mentors.</p>
        <p><strong>Codedee is 100% free forever.</strong></p>
        <div class="icons">
            <img src="https://dg8krxphbh767.cloudfront.net/tracks/cpp.svg" alt="cpp-logo">
            <img src="https://dg8krxphbh767.cloudfront.net/tracks/csharp.svg" alt="csharp-logo">
            <img src="https://dg8krxphbh767.cloudfront.net/tracks/javascript.svg" alt="javascript-logo">
            <img src="https://dg8krxphbh767.cloudfront.net/tracks/python.svg" alt="python-logo">
            <img src="https://dg8krxphbh767.cloudfront.net/tracks/java.svg" alt="java-logo">
            <div class="more">+47 more</div>
        </div>
    </div>
</div>