{% extends 'pages/index.html' %}

{% block navbar %}{% endblock navbar %}

{% block title%}Codedee - Register{% endblock %}

{% block main-container-content %}
    
    <div class="row">
        <div class="col s4">

            <form class="box-form" action="" method="POST">
                {% csrf_token %} 

                <h3 class="big-message-main-page log-reg-big">Codedee Register</h3>

                {% if form.errors %}
                <div id="form-error">
                    <ul>
                    {% for field in form %}
                    <li style="color:orange;">{{ field.errors|striptags }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <div class="divider">
                    <hr class"solid"></hr>
                </div>

                <p class="log-reg-small">Username</p>
                {{form.username}}
        
                <p class="log-reg-small">Password</p>
                {{form.password1}}

                <p class="log-reg-small">Password Confirmation</p>
                {{form.password2}}

                <input type="submit" name="submit" value="Register"  onclick="M.toast({html: 'Have a nice day!'})"> 

                <p class="log-reg-small">Already got an account? <a href="{% url 'login' %}">Log in now</a></p>
            </form>

        </div>
        <div class="col s8">
            {% include 'pages/reg_log_background.html' %}
        </div>
    </div>

{% endblock %}
