{% extends 'pages/index.html' %}

{% block title%}Codedee - Main Page{% endblock %}

{% block main-container-content %}
    <div class="rules-content">
    <div class="main-content">
        <!DOCTYPE html>
        <html lang="en" >
        <head>
          <meta charset="UTF-8">
        
        </head>
        <body>
        <!-- partial:index.partial.html -->
        <div class="container">
          <h3 class="big-message-main-page">Rules</h3>
          <div class="accordion">
            <div class="accordion-item">
              <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">1. Age</span><span class="icon" aria-hidden="true"></span></button>
              <div class="accordion-content">
                <p>18+ or get the fuck out</p>
              </div>
            </div>
            <div class="accordion-item">
              <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">2. Registration</span><span class="icon" aria-hidden="true"></span></button>
              <div class="accordion-content">
                <p>Don't you see that sign up button? Or u blind ???</p>
              </div>
            </div>
            <div class="accordion-item">
              <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">4. Problems</span><span class="icon" aria-hidden="true"></span></button>
              <div class="accordion-content">
                <p>It's not fun tbh</p>
              </div>
            </div>
            <div class="accordion-item">
              <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">5. Disqualification</span><span class="icon" aria-hidden="true"></span></button>
              <div class="accordion-content">
                <p>Anyone tryna hack this site will be ban</p>
              </div>
            </div>
          </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br>
        </body>
        </html>
    </div>   
    </div>
    <div class="side-content">
        {% include 'pages/ranking_table.html' %}
    </div>
{% endblock %}

